<head>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/app/bower_components/angular/angular.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>


<body ng-app="timerApp">
	<div ng-controller="counterCtrl">

		<input type="number" ng-model="bloomVal" />
		<input type="number" ng-model="brewVal" />
		<input type="number" ng-model="pressVal" />
		<input type="number" ng-model="startVal" />

		<h2>{{bloomVal + brewVal + pressVal}}</h2>
		<h3>{{timer}}</h3>

		<h4>{{counter}}</h4>
		<button ng-click="stop()">Stop</button>
		<button ng-click="countdown()">Start</button>     
		<button ng-click="countdownInput()">Start</button>     
		<button ng-click="loadVals()">loadVals</button>     
	</div>

	<script>
		
		var myModule = angular.module("timerApp", []);
		myModule.controller("counterCtrl",['$scope','$timeout', function($scope,$timeout){
			$scope.counter = 100;
			$scope.timerVal = ($scope.bloomVal + $scope.brewVal + $scope.pressVal);
			var stopped;
			// $scope.timer;
 
			$scope.countdown = function() {
				stopped = $timeout(function() {
					console.log($scope.counter);
					$scope.counter--;   
					$scope.countdown();   
				}, 1000);
			};
 
			$scope.loadVals = function() {
				$scope.timer = ($scope.bloomVal + $scope.brewVal + $scope.pressVal);				
			};
   
			$scope.countdownInput = function() {
				stopped = $timeout(function() {
					console.log($scope.timer);
					$scope.timer--;   
					$scope.countdownInput();   
				}, 1000);
			};   
    
			$scope.stop = function(){
				$timeout.cancel(stopped);
			} 
		}]);

		// http://stackoverflow.com/questions/15072152/angularjs-input-model-changes-from-integer-to-string-when-changed
		// http://codepen.io/MehmetCanker/pen/jluqp
	
	</script>

  
</body>
