<!DOCTYPE html>
<html>
<head>
    <title>Coffee. Yum. TIMER!</title>		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/app/bower_components/angular/angular.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/app/js/app.js"></script>
		
		<style>
			.progress {
				height: 30px;
			}
		</style>
</head>
<body ng-app="timerApp">
    <div ng-controller="TimerController as timer">		
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">Coffee. Yum.</a>
						</div>
					</div>
				</nav>			
			</div>		
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<div class="form-group">
							<label for="bloomLength">Bloom Length (in seconds)</label>	
							<input type="number" id="bloomLength" ng-model="bloomVal" required />
						</div>
						
						<div class="form-group">
							<label for="brewLength">Brew Length (in seconds)</label>	
							<input type="number" id="brewLength" ng-model="brewVal" required />
						</div>
						
						<div class="form-group">
							<label for="pressLength">Press Length (in seconds)</label>	
							<input type="number" id="pressLength" ng-model="pressVal" />
						</div>	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button ng-click="loadVals()">Prepare Timer</button>   
					<button ng-click="countdownInput()">Start</button>  
					<button ng-click="stop()">Pause</button> 
				</div>						
			</div>
			
			<hr />
				
			<div class="row">
				<div class="col-md-1">Bloom:</div>
				<div class="col-md-11">
					<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{((timer - brewVal - pressVal) / (timerVal() - brewVal - pressVal)) * 100}}%">
						</div>
					</div>								
				</div>								
			</div>
			
			<div class="row">
				<div class="col-md-1">Brew:</div>
				<div class="col-md-11">
					<div class="progress">
						<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{((timer - pressVal) / (timerVal() - bloomVal - pressVal)) * 100}}%">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-1">Press:</div>
				<div class="col-md-11">
					<div class="progress">
						<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{((timer) / (timerVal() - brewVal - bloomVal)) * 100}}%">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3>Total Brew Time: {{timerVal()}}</h3> 
					<h3>Total Brew Time Remaining: {{timer}}</h3>  							
				</div>
			</div>
		</div>
    </div>
    <br/>
</body>
</html>
