<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Example - Single Timer Example</title>		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/app/bower_components/angular/angular.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/app/js/app.js"></script>
</head>
<body ng-app="timerApp">
    <div ng-controller="TimerController as timer">		
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">Coffee. Yum.</a>
						</div>
					</div>
				</nav>			
			</div>		
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form>
						<div class="form-group row">
							<h1>Timing.</h1>
							<div class="form-group">
								<label for="bloomLength">How Long Is the Bloom Gonna Be? (In seconds, please)</label>	
								<input type="number" id="bloomLength" ng-model="bloomVal" required />
							</div>
							
							<div class="form-group">
								<label for="brewLength">How Long Is the Brewing Time Gonna Be? (In seconds, please)</label>	
								<input type="number" id="brewLength" ng-model="brewVal" required />
							</div>
							
							<div class="form-group">
								<label for="pressLength">How Long Is the Press Gonna Be? (In seconds, please)</label>	
								<input type="number" id="pressLength" ng-model="pressVal" />
							</div>							

        
							<h3>{{timer}}</h3> 
							<button ng-click="loadVals()">Calculate Brew Time</button>   
							<button ng-click="countdownInput()">Start</button>  
							<button ng-click="stop()">Pause</button>  
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>
    <br/>
</body>
</html>
