<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Example - Single Timer Example</title>		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/app/bower_components/angular/angular.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/app/js/app.js"></script>
		<script src="app/js/timer.js"></script>
</head>
<body ng-app="timerApp">
    <div ng-controller="TimerController as timer">
        <h1>Timing.</h1>
        <div class="form-group">
			<label for="bloomLength">How Long Is the Bloom Gonna Be? (In seconds, please)</label>	
			<input type="number" id="bloomLength" ng-model="bloomLength" />
		</div>
        
        <div class="form-group">
			<label for="brewLength">How Long Is the Brewing Time Gonna Be? (In seconds, please)</label>	
			<input type="number" id="brewLength" ng-model="brewLength" />
		</div>
        
        <div class="form-group">
			<label for="pressLength">How Long Is the Press Gonna Be? (In seconds, please)</label>	
			<input type="number" id="pressLength" ng-model="pressLength" />
		</div>
		
		<button type="button" class="btn btn-primary btn-sm" ng-click="updateTimer()" value="Update Timer">Update Timer</button>
	
        <p>{{bloomLength + brewLength}} = bloomLength</p>
        <p>{{brewLength}} = brewLength</p>
        <p>{{pressLength}} = pressLength</p>
        <p>{{timerTime}} = timerTime</p>
        
        <div id="countdown-timer">
			<timer interval="1000" autostart="false" countdown="0.1">{{countdown}}</timer>
			<button ng-click="bloomTimer()">Add Countdown From Bloom</button>
        </div>

        
        <!--
        <timer interval="1000" autostart="false">
			<div class="progress">
				<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{seconds}}" aria-valuemin="0" aria-valuemax="500" style="width: {{brewLength}}%">
					<span class="sr-only">{{brewLength}}% Complete</span>
				</div>
			</div>
		</timer>
		-->
        <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button>
        <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
			<hr />
			<div class="row">
				<div class="col-md-4 col-md-offset-4">					
					<pre>form = {{user | json}}</pre>
					<pre>master = {{master | json}}</pre>
				</div>
			</div>
    </div>
    <br/>
</body>
</html>
