		<!-- welcome to the addgear partial. enjoy your stay -->
		<div ng-controller="CoffeeController as coffee" class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>ADD SOME GEAR</h1>
					<p class="intro">Nerd time. Go ahead, impress us. Once you add your brewing equipment, you won't have to visit this page again. (Until your birthday.) <a href="/#/addbeans">Then, tell us about the beans you're using</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<accordion>
						<accordion-group heading="Add Grinding Equipment" is-open="accordionStatus.isFirstOpen" is-disabled="accordionStatus.isFirstDisabled">	
							<h5>Available Grinders | <input ng-model="searchGrinders" placeholder="Type to Refine List" /> | </h5>							
							<div class="row">
								<div ng-repeat="grinder in grinders | filter:searchGrinders | orderBy:'name'" class="col-md-3">
									<div class="panel panel-default panel-{{$index}}">
										<div class="panel-heading">
											<h3 class="panel-title">{{grinder.name}}</h3>
										</div>
										<div class="panel-body" ng-class="{'bg-info': grinder.checked}" >
											<p>{{grinder.name}}</p>
											<p><label class="btn btn-primary" ng-class="{active: grinder.checked}"><input type="checkbox" ng-model="grinder.checked" ng-click="grinderCheck(grinder)" class="hidden">Select this Grinder</label></p>
											<p>Am I checked? {{grinder.checked}}</p>
											<ul ng-repeat="model in grinder.models" ng-show="grinder.checked">
												<li>{{model.model_id}} | {{model.name}}</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="panel panel-default notlisted">
										<div class="panel-heading">
											<h3 class="panel-title">Grinder Maker Not Listed?</h3>
										</div>
										<div class="panel-body">
											<button class="btn btn-default" ng-click="grinderBlock = !grinderBlock">Add Grinder</button>
										</div>
									</div>
								</div>								
							</div>	
							<div class="form-horizontal">
								<div class="form-group hidden">	
									<label class="col-sm-3 control-label" for="grinderBrand">Grinder Brand: </label>
									<div class="col-sm-9">										
										<input type="text" ng-model="user.grinder" typeahead="x as x.name for x in grinders | filter:$viewValue | limitTo:8" typeahead-on-select="selectGrinder($item, $model, $label)" class="form-control">

									</div>											
								</div>	
								<div collapse="grinderBlock" class="form-group">	
									<label class="col-sm-3 control-label" for="grinderBrandNotListed">Brand Not Listed?</label>
									<div class="col-sm-9">	
										<div class="input-group">				
											<input type="text" class="form-control" id="grinderBrandNotListed" ng-model="user.addgrinderinput" placeholder="Enter Brand" >
											<span class="input-group-btn">
												<button class="btn btn-default" ng-click="addGrinder()" value="Add Grinder" type="button">Add</button>
											</span>
										</div>	
									</div>
								</div>												
								<div class="form-group">
									<label class="col-sm-3 control-label" for="grinderModel">Grinder Model: </label>
									<div class="col-sm-9">
										<select type="select" class="form-control" id="grinderModel" ng-model="user.model" ng-options="y as y.name for y in models"></select>
									</div>						
								</div>	
								<div class="form-group">	
									<label class="col-sm-3 control-label" for="modelNumberNotListed">Model Not Listed?</label>	
									<div class="col-sm-9">
										<input type="text" class="form-control" id="modelNumberNotListed" ng-model="user.addmodelinput" placeholder="Enter Model" />
										<button type="button" class="btn btn-primary btn-sm" ng-click="addModel()" value="Add Model">Add</button>
									</div>
								</div>	
							</div>
						</accordion-group>
						<accordion-group heading="Add Brewing Gear">
							<div class="form-group">
								<label class="col-sm-3 control-label" for="inputBrewer">Brew Equipment: </label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="inputBrewer" placeholder="Input Brewer" ng-model="user.addbrewer">
								</div>
								<div class="col-sm-9 col-sm-offset-3">
									<button type="button" class="btn btn-primary" ng-click="addBrewer()" value="Add Brewer">Add</button>
								</div>
							</div>
							<ul>						
								<li ng-repeat="brewer in brewers" class="{{$index}}">{{brewer.name}} | <a ng-click="selectBrewer(brewer.name)">Select this brewer</a></li>
							</ul>					
						</accordion-group>
						<accordion-group heading="Filters">
							<p>Which is empty.</p>
						</accordion-group>
						<accordion-group heading="Miscellaneous">
							<p>Scale, kettle, etc.</p>
						</accordion-group>
					</accordion>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="reset" class="btn btn-default" ng-click="reset()">Reset Form</button>
					<button type="submit" class="btn btn-default" ng-click="update(user)">Save Changes</button>
					<button type="submit" class="btn btn-default" ng-click="addBrewProfile()">Add To New Profile</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3>Available Profiles</h3>
					<div ng-repeat="profile in brewprofiles" class="col-md-4">
						<div class="well">
							<h4>Brew Profile #{{profile.profile}}:</h4>
							<p>Grinder: {{profile.grinder}}</p>
							<p>Model #: {{profile.model}}</p>
							<p>Brewer: {{profile.brewer}}</p>
							<p class="pull-right">
								<button class="btn btn-primary">Use Profile</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-4 col-md-offset-4">					
					<pre>form = {{user | json}}</pre>
					<pre>master = {{master | json}}</pre>
				</div>
			</div>	
		</div>
