		<!-- welcome to the almostready partial. enjoy your stay -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>YOU'RE ALMOST READY</h1>
					<p class="intro">Create an account! Sign in if you have one already! (Or, if you really want to, you can continue as a guest, but we'll warn you, the experience is 1/34th as awesome. We did the math.)</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">	
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="font-effect-wallpaper">i've got an account</h3>
						</div>
						<div class="panel-body">
							<p>Sweet. Thanks for coming back. We really appreciate you.</p>
							<p class="pull-right"><a class="btn btn-primary" href="addgear">Select Gear</a></p>
						</div>						
					</div>
				</div>
				<div class="col-md-4">	
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>i want to create an account</h3>
						</div>
						<div class="panel-body">
							<p>You're about ready to experience the best nerdius has to offer. Don't forget to update your profile - you know, after you finish making coffee.</p>
							<p class="pull-right"> <a class="btn btn-primary" href="signup">Sign Up</a></p>
						</div>						
					</div>
				</div>
				<div class="col-md-4">	
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>i want to brew as a guest</h3>
						</div>
						<div class="panel-body">
							<p>That's cool. Maybe next time? </p>
							<p class="pull-right"><a class="btn btn-primary" href="addgear">Add Gear</a></p>
						</div>						
					</div>
				</div>
			</div>							
		</div>
