		<!-- you're visiting the 'landing' partial. enjoy your stay -->
		<div class="container" ng-controller="landingCtrl">
			<div class="row">
				<div class="col-sm-12">
					<h1>Brew Smarter = {{thing}}</h1>					
				</div>
				<div class="col-sm-11 col-sm-offset-1">	
					<h3>welcome to nerdius</h3>
					<p>
						<a class="btn btn-primary" href="/#/brew">Insta-Brew</a>					
						<a class="btn btn-primary" href="/#/addgear">Edit Brew</a>					
						<a class="btn btn-primary" href="/#/learnmore">Learn More</a>					
					</p>				
				</div>
			</div>	
			<hr />
			<div class="row">
				<div name="learnmore" class="col-md-12">
					<h2>Coffee Rules</h2>
					<p>Not the evil mass-produced, devoid-of-soul stuff for caffiene transferrance purposes. And also not that stuff with milk and sugar. We mean hand-created stuff where you can actually talk reasonably about flavor notes and mouthfeel, either at your local shop or at home.</p>
					<p class="pull-right">
						<a class="btn btn-primary" href="/#/signup">Sweet! I'm In!</a>
					</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<h2>That's Where We Come In</h2>
					<p>For us, making coffee is part morning ritual, part science experiment. We used to keep track of our daily brew with an expensive, leatherbound notebook and a fountain pen, but now we use nerdius. Because the only thing better than meticulously keeping track of your brew is sharing the love with others.</p>
					<p class="pull-right">
						<a class="btn btn-primary" href="/#/signup">Cool! Let's Rock!</a>
					</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<h2>How We're Sharing the Love</h2>
					<p>When you use nerdius, you're contributing to a distributed, worldwide experiement with likeminded individuals, all in pursuit of the best cup of coffee possible. With your contributions, we're crunching the numbers, providing recommendations and brew recipes, locating legit shops, and most importantly, helping you enjoy the best coffee on earth.</p>
					<p class="pull-right">
						<a class="btn btn-primary" href="/#/signup">Nifty! Start the Magic!</a>
					</p>
				</div>
			</div>
			<div class="row">
				<footer id="footer">
					<p>I'm just saying.</p>
				</footer>			
			</div>	
		</div>
