<!-- welcome to the log partial. enjoy your stay -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>LOG!</h1>
					<p class="intro">Stuff and things</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">	
					<p>You'll keep track of what you made here. <a href="/#/profile">Edit your profile for extra cool points.</a></p>
					<script type="text/ng-template" id="customTemplate.html">
						  <a>
							  <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
							  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
						  </a>
						</script>
						<div class='container-fluid' ng-controller="TypeaheadController as typer">

							<h4>Static arrays</h4>
							<pre>Model: {{selected | json}}</pre>
							<input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">

							<h4>Asynchronous results</h4>
							<pre>Model: {{asyncSelected | json}}</pre>
							<input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
							<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

							<h4>Custom templates for results</h4>
							<pre>Model: {{customSelected | json}}</pre>
							<input type="text" ng-model="customSelected" placeholder="Custom template" typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control">
						</div>
				</div>				
			</div>							
		</div>
