<!-- welcome to the profile partial. enjoy your stay -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>PROFILE!</h1>
					<p class="intro">Stuff and things</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">	
					<p>Here's where your profile will show up. You can finish your profile here, or even <a href="/#/explore">look at other peoples'.</a></p>
				</div>
				<div class="col-md-4">	
					<p>YAY</p>
				</div>
				<div class="col-md-4">	
					<p>YAY</p>
				</div>
			</div>							
		</div>
