<!-- welcome to the ready partial. enjoy your stay -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>READY!</h1>
					<p class="intro">Stuff and things</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">	
					<p>You'll select the brewing profile you want to go with on this page</p>
				</div>
				<div class="col-md-4">	
					<p>And the beans you're working with, and then you'll <a href="/#/set">get set!</a></p>
				</div>
				<div class="col-md-4">	
					<p>YAY</p>
				</div>
			</div>							
		</div>
