		<!-- welcome to the signup partial. enjoy your stay -->
		<div ng-controller="CoffeeController as coffee" class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>SIGNUP!</h1>
					<p class="intro">You can sign up for nerdius by using your Twitter account. If you aren't on Twitter, you can sign up for account for free. It'll just take 5 minutes, and you'll have something in common with a lot of famous people, as well as a surprising number of household pets.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">	
					<p>
						<a href="#" type="button" class="btn btn-default">Connect to Twitter</a>  <a href="/#/addgear" type="button" class="btn btn-default">Continue to Adding Gear</a>
					</p>
				</div>
			</div>			
		</div>
